.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  align-items: center;
  margin: auto;
}

.container {
  display: flex;
  margin: 20px 20px 10px;
  flex-direction: column;
  width: 180px; /* Ajuste a largura conforme necessário */
  height: 300px;
  box-shadow: 3px 3px 3px #888888;
  border-radius: 10px;
  padding: 20px; /* Reduza o padding para se ajustar melhor ao conteúdo */
  justify-content: space-between; /* Espaçamento entre os elementos */
  align-items: center;
  cursor: pointer; /* Indica que o card é clicável */
  text-decoration: none; /* Remove o sublinhado dos links */
  background-color: #fff; /* Adicione um fundo branco */
}

.container img {
  max-width: 100px;
  margin: 10px 0; /* Margem acima e abaixo da imagem */
}

.container h1 {
  font-size: 18px;
  text-align: center;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha o texto ao centro */
  justify-content: space-between;
}

.textContainer p {
  font-size: 14px;
  margin: 0;
}

.textContainer .price {
  font-size: 16px;
  font-weight: bold;
  color: #ff6500; /* Cor do preço */
}
